body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
}

#main-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

#box {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
}

#button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#button:hover {
  background-color: #218838;
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-container div {
  text-align: left;
  font-size: 16px;
  color: #555;
}

#delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

#delete-button:hover {
  background-color: #c82333;
}
